---
import { Button } from "@fod/ui/components";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";

const mailerUrl = import.meta.env.PUBLIC_MAILER;
---

<ContentPageLayout title="Community Resource List">
  <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
    Community Resource List
  </h1>
  <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
    We have compiled a list of resources available to the community. This list includes local food
    banks, shelters, and other services. If you are in need of assistance, or know of someone that
    is in need of assistance, go to the following page and request for us to send you a copy.
  </p>
  <form name="community-list" method="POST" action={mailerUrl}>
    <div class="grid grid-cols-1 gap-6">
      <label class="block">
        <span class="font-bold text-gray-700">Email address</span>
        <input
          name="email"
          type="email"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="john@example.com"
        />
      </label>
      <label for="optIn" class="flex flex-row text-gray-700">
        <input
          type="checkbox"
          name="optIn"
          id="optIn"
          class="mr-2 mt-1.5 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        />
        <span class="flex-grow"> I would like to receive the newsletter </span>
      </label>
      <label class="mt-4 block">
        <Button
          id="submitButton"
          type="submit"
          className="disabled:cursor-wait disabled:opacity-50">
          Request Community Resource List
        </Button>
      </label>
    </div>
  </form>
</ContentPageLayout>

<script
  is:inline
  src="https://www.google.com/recaptcha/api.js?render=6LdmadYpAAAAAPYByBN-wtrkFNkHpkppiL5KqKuH"
></script>

<script>
  const submitButton = document.querySelector("#submitButton");

  document
    .querySelector("form[name='community-list']")
    ?.addEventListener("submit", async (event) => {
      event.preventDefault();
      submitButton?.setAttribute("disabled", "disabled");

      grecaptcha.ready(async function () {
        const token = await grecaptcha.execute("6LdmadYpAAAAAPYByBN-wtrkFNkHpkppiL5KqKuH", {
          action: "submit",
        });

        const form = event.target as HTMLFormElement | null | undefined;

        if (!form) {
          return;
        }

        const formData = new FormData(form);
        const data = { ...Object.fromEntries(formData.entries()), token };

        try {
          await fetch(form.action, {
            method: form.method,
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
        } catch (error) {
          console.error("Error submitting form", error);

          submitButton?.removeAttribute("disabled");
        }

        window.location.href = "/contact/thank-you-community-list";
      });
    });
</script>
