---
import { Button } from "@fod/ui/components";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
import { getCollection } from "astro:content";
const programs = await getCollection("programs");
---

<ContentPageLayout title="Contact Us">
  <h1>Contact Us</h1>
  <form name="contact" method="POST" action="/contact/thank-you" data-netlify="true">
    <div class="grid grid-cols-1 gap-6">
      <label class="block">
        <span class="text-gray-700">Full name</span>
        <input
          name="name"
          type="text"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder=""
          spellcheck="false"
          data-ms-editor="true"
        />
      </label>
      <label class="block">
        <span class="text-gray-700">Email address</span>
        <input
          name="email"
          type="email"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="john@example.com"
        />
      </label>
      <label for="newsletter" class="flex flex-row text-gray-700">
        <input
          type="checkbox"
          name="newsletter"
          id="newsletter"
          class="mr-2 mt-1.5 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        />
        <span class="flex-grow">I would like to receive the newsletter</span>
      </label>
      <label class="block">
        <span class="text-gray-700">Interesting in?</span>
        <select
          name="interest"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
          <option>General Information</option>
          {
            programs.map((program) => (
              <option value={program.slug.slice(3)}>{program.data.name}</option>
            ))
          }
        </select>
      </label>
      <label class="block">
        <span class="text-gray-700">Additional details</span>
        <textarea
          name="message"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          rows="3"
          spellcheck="false"
          data-ms-editor="true"></textarea>
      </label>
      <label class="mt-4 block">
        <Button type="submit">Submit</Button>
      </label>
    </div>
  </form>
</ContentPageLayout>

<script>
  const url = new URL(window.location.href);
  const source = url.searchParams.get("source");

  if (source !== null) {
    const input: HTMLInputElement | null = document.querySelector('select[name="interest"]');
    if (input) {
      input.value = source;
    }
  }
</script>
