---
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
---

<ContentPageLayout title="Thank You">
  <h1>Thank You</h1>
  <p>
    You should receive an email from us shortly with the community resource list attached. Please
    check your spam foled if it doesn't arrive.
  </p>
</ContentPageLayout>
