---
import { getCollection } from "astro:content";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
import GetInvolved from "@components/GetInvolved.astro";
import AcademicIcon from "@components/icons/academic.astro";
import SparklesIcon from "@components/icons/sparkles.astro";
import CalendarDays from "@components/icons/calendar-days.astro";

const programs = await getCollection("programs");
const gettingAhead = programs.find((program) => program.slug.endsWith("getting-ahead"));

if (!gettingAhead) {
  throw new Error("Getting Ahead program not found");
}

const source = gettingAhead.slug.slice(3);
const { Content } = await gettingAhead.render();
---

<ContentPageLayout title="Programs">
  <div class="pb-8">
    <Content />

    <ul class="my-12 flex flex-col items-center justify-evenly gap-12 px-0 sm:flex-row">
      <li class="text-brand-700 flex flex-1 flex-col items-center">
        <CalendarDays class="h-16 w-16 sm:h-12 sm:w-12" /><div>Started October 2022</div>
      </li>
      <li class="text-brand-700 flex flex-1 flex-col items-center">
        <AcademicIcon class="h-16 w-16 sm:h-12 sm:w-12" /><div>52 graduates</div>
      </li>
      <li class="text-brand-700 flex flex-1 flex-col items-center">
        <SparklesIcon class="h-16 w-16 sm:h-12 sm:w-12" /><div>75% graduation rate</div>
      </li>
    </ul>

    <blockquote>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet odit sit autem ex quia
      deserunt est delectus, corporis illum placeat, aut magni, ipsam omnis molestias. Quisquam,
      iure in? Temporibus." ~ Tim S.
    </blockquote>

    <blockquote>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum amet odit sit autem ex quia
      deserunt est delectus, corporis illum placeat, aut magni, ipsam omnis molestias. Quisquam,
      iure in? Temporibus." ~ Sam T.
    </blockquote>

    <h2>Jarod's Story</h2>
    <p>
      Friends of Donegal met Jarod in our first Getting Ahead class. Jarod faced many setbacks in
      his young life. He was isolated from family and friends and was unable to engage in school or
      the community.
    </p>
    <p>
      At the start of the Getting Ahead class Jarod was incredibly quiet and kept to himself. One of
      his goals that surfaced through conversations in the class was to start a community garden. As
      an empowerment team, Friends of Donegal wondered: how could we support him in making this goal
      a reality?
    </p>
    <p>
      By leveraging Jarod's newfound source of social capital in Friends of Donegal, in the spring
      of 2022, Jarod developed Donegal Community Gardens with his first garden at Florin Church of
      the Brethren. Jarod worked with a local grower and five individuals agreed to have personal
      plots in the garden. Jarod helped them grow and harvest their own vegetables.
    </p>
    <p>
      By summer of 2023, another garden was added to Jarod's enterprise at Mount Joy Mennonite
      Church. This site produces bulk vegetables such as potatoes and green beans for the Donegal
      Power Packs program. Jarod, who was so shy and reserved at that first Getting Ahead class, was
      now participating in community speaking engagements. In 2023, he hosted a garden open house to
      introduce the community to the garden.
    </p>
    <p>
      Jarod was not only making strides in the community, but personally as well. He passed his
      driver's test and began his first job with Dave's Collectibles. Gone are the days of
      isolation. Now days are filled with being an engaged member of the community.
    </p>
    <p>
      Jarod sees 2024 as a big year. Donegal Presbyterian Church donated 3.6 acres to grow
      vegetables. He continues to create new goals: to live independently and to purchase a vehicle
      to transport vegetables from the garden. To stay on track, he continues to attend the monthly
      Staying Ahead classes.
    </p>
    <p>
      Jarod is flourishing! He is testament of how a little community can go a long way. Friends of
      Donegal is so proud of all Jarod has accomplished, and we cannot wait to see what the years
      ahead bring.
    </p>

    <GetInvolved class="mt-12" source={source} program={gettingAhead.data.paypalDonateKey} />
  </div>
</ContentPageLayout>
