---
export enum ParagraphStyle {
    Default = "font-normal text-base text-gray-700 mb-4",
    Spaced = "font-normal text-base text-gray-700 mt-2 mb-8",
}

export enum ParagraphColor {
    Default = "text-gray-dark",
    White = "text-white",
}

interface Props {
    style?: ParagraphStyle;
    color?: ParagraphColor;
}

const { color = ParagraphColor.Default, style = ParagraphStyle.Default } = Astro.props;
---

<p class={`${style} ${color}`}><slot /></p>
