---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
}

const { class: classOverride } = Astro.props;
---

<div
  class={twMerge(
    "prose prose-a:text-brand-600 max-w-none p-12 md:container md:mx-auto",
    classOverride,
  )}>
  <slot />
</div>
