---
import Paragraph from "@components/Paragraph.astro";
import ContentPageLayout from "src/layouts/ContentPageLayout.astro";
---

<ContentPageLayout title="Donation Cancelled">
  <h1>Thank You!</h1>
  <Paragraph>
    Thank you for your support!
  </Paragraph>
</ContentPageLayout>
