---
import Layout from "../layouts/Layout.astro";
import Prose from "@components/Prose.astro";
---

<Layout title="Friends of Donegal">
  <div class="w-full shadow-inner">
    <div class="p-12 py-20 md:container md:mx-auto">
      <h2
        class="font-body text-brand-700 mb-6 text-center text-3xl font-thin italic md:container md:mx-auto">
        Our Mission
      </h2>
      <Prose class="p-0">
        <p>
          We harness the collective power and influence of the community to improve the lives of our
          neighbors.
        </p>
        <a href="/programs"> Learn more</a>
      </Prose>
      <hr class="my-12" />
      <h2
        class="font-body text-brand-700 mb-6 text-center text-3xl font-thin italic md:container md:mx-auto">
        Our Vision
      </h2>
      <Prose class="p-0">
        <p>Together we promote hope and equity for all.</p>
      </Prose>
      <hr class="my-12" />
      <h2
        class="font-body text-brand-700 mb-6 text-center text-3xl font-thin italic md:container md:mx-auto">
        Our Core Values
      </h2>
      <Prose>
        <h3>Equity</h3>
        <p>
          We believe everyone should be seen, heard, valued, and empowered to succeed. We work to
          change practices, structures, and policies to realize equity for everyone.
        </p>

        <h3>Making Sustainable Change</h3>
        <p>
          We are committed to the economic security of all people. Unlike systems that create and
          maintain disparities, we adopt approaches that meet the individual's needs the way they
          experience social problems.
        </p>

        <h3>Persistent</h3>
        <p>
          We understand to make sustainable change we must pursue our goals even when it is
          difficult or opposed by others. We are driven to think and do what is best for those in
          need in our community.
        </p>

        <h3>Opportunity</h3>
        <p>
          We work with others to create the circumstances for members of our community to thrive.
        </p>

        <h3>With</h3>
        <p>We are here to walk with you, team with you and celebrate with you.</p>

        <h3>Empathy</h3>
        <p>
          We are genuinely interested in the emotional state of others and engage with those
          emotions to compassionately take action.
        </p>

        <h3>Relationships</h3>
        <p>
          RelationshipsWe build connections between people and organizations, founded in mutual
          respect, to work together to bring about change.
        </p>
      </Prose>
    </div>

    <div class="w-full shadow-inner">
      <div
        class="font-body text-brand-700 p-12 text-center text-3xl font-thin italic md:container md:mx-auto">
        2023 Comnunity Report
      </div>
    </div>
  </div>
</Layout>
