---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import communityReportImg from "../assets/images/2023-Community-Report-cover.jpg";
import gettingAheadImg from "../assets/images/getting-ahead.jpg";
import gettingAhead2Img from "../assets/images/img_1_1715787575194.jpg";
import { Button } from "@fod/ui";
import Link from "@components/Link.astro";
---

<Layout title="Friends of Donegal">
  <div class="w-full shadow-inner">
    <section class="w-full py-12 md:py-24 lg:py-32">
      <div class="p-12 md:container md:mx-auto">
        <div
          class="grid items-center gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_450px]">
          <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2">
              <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Our Mission</h2>
              <p
                class="max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
                We harness the collective power and influence of the community to improve the lives
                of our neighbors.
              </p>
            </div>
          </div>
          <Image
            loading="eager"
            src={gettingAhead2Img}
            alt="Getting Ahead"
            class="mx-auto aspect-square h-[310px] overflow-hidden rounded-xl bg-slate-300 object-cover object-center sm:w-full lg:h-[450px] lg:w-[450px]"
          />
        </div>
      </div>
    </section>

    <section class="w-full bg-gray-100 py-12 md:py-24 lg:py-32">
      <div class="p-12 md:container md:mx-auto">
        <div
          class="grid items-center gap-6 lg:grid-cols-[400px_1fr] lg:gap-12 xl:grid-cols-[450px_1fr]">
          <Image
            loading="eager"
            src={gettingAheadImg}
            alt="Getting Ahead Graduates"
            class="mx-auto hidden aspect-square h-[310px] overflow-hidden rounded-xl bg-slate-300 object-cover object-center sm:w-full lg:inline lg:h-[450px] lg:w-[450px]"
          />
          <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2">
              <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">Our Vision</h2>
              <p
                class="max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
                Together we promote hope and equity for all.
              </p>
            </div>
          </div>
          <Image
            loading="eager"
            src={gettingAheadImg}
            alt="Getting Ahead Graduates"
            class="mx-auto aspect-square h-[310px] overflow-hidden rounded-xl bg-slate-300 object-cover object-center sm:w-full lg:hidden lg:h-[450px] lg:w-[450px]"
          />
        </div>
      </div>
    </section>

    <section class="w-full p-12 md:container md:mx-auto md:py-24 lg:py-32">
      <div class="grid gap-6 lg:grid-cols-[1fr_550px] lg:gap-12 xl:grid-cols-[1fr_650px]">
        <div class="flex flex-col justify-center space-y-4">
          <div class="space-y-2">
            <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
              2023 Community Report
            </h1>
            <p class="max-w-[600px] text-gray-500 md:text-xl">
              The Friends of Donegal 2023 Report to the Community is now available. Discover the
              impact that we are making within our community.
            </p>
          </div>
          <div class="flex flex-col gap-2 min-[400px]:flex-row">
            <Link href="/pdfs/2023-Community-Report.pdf" target="_blank">
              <Button className="w-full lg:w-auto">View Report</Button>
            </Link>
          </div>
        </div>
        <Image
          loading="eager"
          src={communityReportImg}
          alt="FOD logo"
          alt="Community Report"
          class="mx-auto aspect-square h-[300px] overflow-hidden rounded-xl bg-slate-300 object-cover sm:w-full lg:h-[450px] lg:w-[450px]"
        />
      </div>
    </section>

    <section class="w-full bg-gray-100 py-12 md:py-24 lg:py-32">
      <div class="p-12 md:container md:mx-auto">
        <div
          class="grid items-center gap-6 lg:grid-cols-[1fr_500px] lg:gap-12 xl:grid-cols-[1fr_550px]">
          <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2">
              <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                Community Resource List
              </h2>
              <p class="text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
                We have compiled a list of resources available to the community. This list includes
                local food banks, shelters, and other services. If you are in need of assistance, or
                know of someone that is in need of assistance, go to the following page and request
                for us to send you a copy.
              </p>
              <Link href="/contact/community-list">
              <Button>Request Copy</Button>
              </Link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
