---
import Layout, { type BreadcrumbItem } from "src/layouts/Layout.astro";

interface Props {
    title: string;
    breadcrumbs?: Array<BreadcrumbItem>;
}

const { breadcrumbs = [], title } = Astro.props;
---

<Layout title={title} breadcrumbs={breadcrumbs}>
    <div class="main">
        <slot />
    </div>
</Layout>

<style>
    .main {
        @apply p-12 md:container md:mx-auto;
    }
</style>
